{% extends 'base.html' %}
{% load review_extras %}

{% block title %}Feed{% endblock %}

{% block content %}
<div class="flex flex-column">
    <h1>My Feed</h1>
    
    <div class="flex feed-top-button">
        <a href="{% url 'create_ticket' %}"><button>Request review</button></a>
        <a href="{% url 'create_review' %}"><button>Post review</button></a>
    </div>
    
    <div class="posts">
        {% for post in posts %}
            {% if post|model_type == 'Ticket' %}
                {% include 'review/partials/ticket_snippet.html' with ticket=post %}
                {% if post.review_set.count == 0 %}
                    <a href="{% url 'create_review_reply' post.id %}">Review</a>
                {% endif %}
            {% elif post|model_type == 'Review' %}
                {% include 'review/partials/review_snippet.html' with review=post %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}