{% extends 'base.html' %}
{% load review_extras %}

{% block title %}Feed{% endblock %}

{% block content %}
<h1>My Feed</h1>

<div>
    <a href="{% url 'create_ticket' %}"><button>Request review</a></button>
    <a href="{% url 'create_review' %}"><button>Post review</a></button>
</div>

<div>
    {% for post in posts %}
        {% if post|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=post %}
            {% if post.review_set.count == 0 %}
                <a href="{% url 'create_review_reply' post.id %}">Review</a>
            {% endif %}
        {% elif post|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=post %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}