{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
<h1>My Feed</h1>

<div>
    {% for ticket in tickets %}
        {% include 'review/partials/ticket_snippet.html' %}
        <a href="{% url 'create_review_reply' ticket.id %}">Review</a>
    {% endfor %}
    <hr />
    {% for review in reviews %}
        {% include 'review/partials/review_snippet.html' %}
    {% endfor %}
</div>

<div>
    <a href="{% url 'create_ticket' %}">Request review</a>
    <a href="{% url 'create_review' %}">Post review</a>
</div>
{% endblock %}