{% extends 'base.html' %}
{% load review_extras %}

{% block title %}My posts{% endblock %}

{% block content %}
<h1>My Posts</h1>

<div class="posts">
    {% for post in posts %}
        {% if post|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=post %}
            <p class="post-buttons">
                <a href="{% url 'update_ticket' post.id %}"><button>Update</button></a>
                <a href="{% url 'delete_ticket' post.id %}"><button>Delete</button></a>
            </p>
        {% elif post|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=post %}
            <p class="post-buttons">
                <a href="{% url 'update_review' post.id %}"><button>Update</button></a>
                <a href="{% url 'delete_review' post.id %}"><button>Delete</button></a>
            </p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
