{% extends 'base.html' %}
{% load review_extras %}

{% block title %}My posts{% endblock %}

{% block content %}
<h1>My Posts</h1>

<div>
    {% for post in posts %}
        {% if post|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=post %}
            <a href="{% url 'update_ticket' post.id %}">Update</a>
        {% elif post|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=post %}
            <a href="{% url 'update_review' post.id %}">Update</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
