{% extends 'base.html' %}

{% block title %}Subscriptions{% endblock %}

{% block content %}
<div class="flex flex-column">
    <h1>Subscriptions</h1>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h2>Follow other users</h2>
    <form action="" method="post" class="flex follow-form">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Follow</button>
    </form>
    
    <h2>Followings</h2>
    
    <table>
        {% for following in followings %}
        <tr>
            <td>{{ following.followed_user.username }}</td>
            <td class="unfollow-button"><a href="{% url 'unfollow' following.followed_user.id %}">Unfollow</a></td>
        </tr>
        {% endfor %}
    </table>
    
    <h2>Followers</h2>
    <table>
        {% for follower in followers %}
        <tr>
            <td>{{ follower.user.username }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}