{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex">
    <div class="flex flex-column">
        <p>Not registered yet ? Sign up now</a></p>
        <a href="{% url 'signup' %}"><button>Sign up</button></a>
    </div>
    <div class="flex flex-column">
        <h1>Login</h1>
    
        <p>{{ message }}</p>
    
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p class="right-align"><button type="submit">Login</button></p>
        </form>
    </div>
</div>

{% endblock %}