{% load review_extras %}

<div>
    <div>
        <span>
            {% get_poster_display review.user %} published a review
        </span>
        <span>
            {{ review.time_created|format_date }}
        </span>
    </div>
    <h3>{{ review.headline }} - {{ review.rating }}</h3>
    <p>{{ review.body }}</p>
    <div>
        <p>Ticket - {% get_poster_display review.ticket.user %}</p>
        <p>{{ review.ticket.title }}</p>
        {% if review.ticket.image %}
            <img src="{{ review.ticket.image.url }}" />
        {% endif %}
    </div>
</div>