li {
    list-style: none;
    margin-inline: 20px;
}
a {
    text-decoration: none;
}
button {
    padding: 5px 15px;
    margin-inline: 15px;
    background: azure;
    border-radius: 7px;
}
.right-align {
    text-align: right;
}

input::placeholder {
    text-align: center;
}

.header {
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 20px;
    background: rgb(230, 236, 244);
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}

.logo img {
    width: 60px;
}

.main {
    margin: 100px auto;
    max-width: 890px;
}

.feed-top-button a {
    margin: 25px 60px;
}
.review, .ticket {
    border: 1px solid rgb(62, 72, 77);
    padding: 15px;
    margin: 5px;
}
.review .ticket {
    align-self: center;
    min-width: 500px;
}
.review {
    min-width: 600px;
    align-items: flex-start;
    background: rgb(247, 245, 190);
}
.ticket {
    background: rgb(18, 53, 93);
    color: rgb(240, 255, 255);
}
.meta {
    width: 100%;
}

.post-buttons {
    text-align: right;
    margin-bottom: 2em;
}

table { 
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
table td {
    border: 1px solid black;
    margin: 0;
    padding: 5px;
}
.unfollow-button {
    width: 100px;
    text-align: center;
}