li {
    list-style: none;
    margin-inline: 20px;
}
a {
    text-decoration: none;
}
.right-align {
    text-align: right;
}

input::placeholder {
    text-align: center;
}

.header {
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 20px;
    background: rgb(230, 236, 244);
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}

.logo img {
    width: 60px;
}

.main {
    margin: 100px auto;
    max-width: 890px;
}