{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
    <title>{% block title %}{% endblock %} - LITReview</title>
</head>
<body>
    <header class="header flex">
        <div class="logo">
            <a href="{% url 'feed' %}">
                <img src="{% static 'litreview-logo.png' %}" />
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="header-menu flex">
                <ul class="flex">
                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'subscriptions' %}">Subscriptions</a></li>
                    <li><a href="{% url 'posts' %}">My Posts</a></li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a> - 
                        Logged as «{{ user.username  }}»
                    </li>
                </ul>
                <p>
                </p>
            </div>
        {% endif %}
    </header>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>