{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'feed' %}">
                <img src="{% static 'litreview-logo.png' %}" alt="">
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="header-menu">
                <ul>
                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'subscriptions' %}">Subscriptions</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'posts' %}">My Posts</a></li>
                </ul>
                <p>Logged as {{ user.username  }}</p>
            </div>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>